.button{
    display: inline;
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 6px 20px;
    margin: 10px 70px;
    cursor: pointer;
    width: fit-content;
}